DATABASE_URL=postgres://postgres:postgres@localhost:5432/wild_archive # setup with `docker run --name postgres -p 5432:5432 -e POSTGRES_PASSWORD=postgres -d postgres`
BETTER_AUTH_SECRET=binQ5kUSQb6K1006gIUZTApH4lkXRfpY # regenerate in production